body {
    background: #ccc;
}

header {
    width: 100%;
    border-bottom: 1px solid;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.change-login {
    display: flex;
    justify-content: space-between;
}

.change-login-btn {
    padding-left: 10px;
}

.change-login-btn:hover {
    filter: opacity(80%);
    cursor: pointer;
}

.login-form {
    width: 80%;
    margin: auto;
    background: #fff;
}

.login-form-title {
    background: #e8e8e8;
}

.login-form-table {
    margin: auto;
}

.error {
    color: #F00;
}